header.header
	h1.head__h1
		a.header__link(href="#" title="Random Marvel Movies") Random Marvel Movies
	.hamburger
		span.hamburger__line
		span.hamburger__line
		span.hamburger__line
	.menu
		button.menu__random(title="Randomize") Randomize
		nav.menu__nav
			ul.menu__ul
