.menu
	button.menu__random(title="Randomize") Randomize
	nav.menu__nav
		ul.menu__ul
			//.menu__li
			//	a.menu__link(href="#" title="Seven Random Marvel Movies") Captain America: The First Avenger
			//.menu__li
			//	a.menu__link(href="#" title="Seven Random Marvel Movies") Captain America: The First Avenger
			//.menu__li
			//	a.menu__link(href="#" title="Seven Random Marvel Movies") Captain America: The First Avenger
			//.menu__li
			//	a.menu__link(href="#" title="Seven Random Marvel Movies") Captain America: The First Avenger
			//.menu__li
			//	a.menu__link(href="#" title="Seven Random Marvel Movies") Captain America: The First Avenger
			//.menu__li
			//	a.menu__link(href="#" title="Seven Random Marvel Movies") Captain America: The First Avenger
			//.menu__li
			//	a.menu__link(href="#" title="Seven Random Marvel Movies") Captain America: The First Avenger

