include _mixins
include _variables

doctype html
html(lang="en" prefix="og: https://ogp.me/ns#")
	// Head
	include _head
	body
		// Wrapper
		.wrapper
			// Header
			include _header
			.sub-wrapper
				// Content
				block content
				// Menu
				include _menu
			// Footer
			include _footer