extends includes/_template

block title
	| Seven Random Marvel Movies

block content
	main.main
		section.movie
			//.movie__left
			//	img.movie__img(src="img/01.jpg" alt="Captain America: The First Avenger")
			//.movie__right
			//	h2.movie__title Captain America: The First Avenger
			//	.movie__info-box
			//		.movie__info
			//			.movie__param Release Date:
			//			.movie__param-value Jul 22, 2011
			//		.movie__info
			//			.movie__param Runtime:
			//			.movie__param-value 2h 4m
			//		.movie__info
			//			.movie__param Box Office:
			//			.movie__param-value $426.8M
			//	p.movie__description It is 1941 and the world is in the throes of war. Steve Rogers (Chris Evans) wants to do his part and join America's armed forces, but the military rejects him because of his small stature. Finally, Steve gets his chance when he is accepted into an experimental program that turns him into a supersoldier called Captain America. Joining forces with Bucky Barnes (Sebastian Stan) and Peggy Carter (Hayley Atwell), Captain America leads the fight against the Nazi-backed HYDRA organization.

